*{
  
}
.header{
  
  background-color: #f0ffff;
  position: absolute;
  top: 0rem;
  left: 0rem;
  border-radius: 25px;
  padding: 1rem;
}
.header :hover{
  transition-duration: 5ms;
  background-color: #cdd0d0;
}
h1{
  font-size: 2.5rem;
}
p{
  font-size: 1.5rem;
}
